<!DOCTYPE html>
<html>
    <head>
        <title>Générateur d'Attestation de Déplacement Dérogatoire</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="index.css">
        <meta charset="UTF-8">
    </head>
    <body>
        <div id="page-container">
            <h1>ATTESTATION DE DEPLACEMENT DEROGATOIRE</h1>
            <p id="description">
                Ce formulaire a pour but de générer une attestation de déplacement 
                dérogatoire similaire à celle que l'on peut retrouver sur le site
                du gouvernement mais de façon totalement transparente et hors ligne
            </p>
            <div class="container">
                <form id="attestation-form" v-on:submit.prevent>
                    <p v-if="errors" class="alert alert-danger">
                        Veuillez saisir les champs correctement !
                    </p>
                    <input-group 
                        v-for="input in inputs"
                        v-bind:inputdata="input"
                        v-bind:key="input.id"
                        :ref="input.name"
                    ></input-group>

                    <checkbox-group
                        v-for="check in checkboxes"
                        v-bind:checkdata="check"
                        v-bind:key="check.id"
                        v-bind:checkset="checkboxesset"
                    ></checkbox-group>

                    <button id="submit-button" @click="createPDF" class="btn btn-primary btn-lg btn-block">Génerer l'attestation</button>
                </form>

                <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.1/jspdf.debug.js" crossorigin="anonymous"></script>
                <script src="VanillaQR.js"></script>
                <script src='form.js'></script>
                <script src='index.js'></script>
            </div>
        </div>
    </body>
</html>